body {
  margin: 0;
  background: #0b1220;
  color: white;
  font-family: Arial;
}

.app {
  padding: 20px;
}

h1 {
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.card {
  background: #1a2336;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.card span {
  display: block;
  font-size: 28px;
  margin-top: 10px;
}

/* STATUS */
.status {
  margin-top: 20px;
  font-size: 20px;
}

.safe { color: #00ff88; }
.warning { color: orange; }
.lowflow { color: #00bfff; }

.critical {
  color: red;
  animation: blink 1s infinite;
}

/* ALERT */
.alert {
  background: red;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}

.lowflow-alert {
  background: #007bff;
}

/* CHART */
.chart-card {
  margin-top: 20px;
  background: #1a2336;
  padding: 20px;
  border-radius: 12px;
}

/* ERROR */
.error-box {
  background: red;
  padding: 10px;
  margin-bottom: 10px;
}

/* ANIMATION */
@keyframes blink {
  50% { opacity: 0.5; }
}